In [267]:
import pandas as pd
import numpy as np
import seaborn as sns

In [268]:
df = pd.read_csv('/project_data/data_asset/Test_fields_100821_results.csv')
df.head()

,HALF,DOWNNUM,YARDSTOGO,SCOREDIFF,TIMELEFT,DOWNNAME,TRUEFIELD,YARDSGAINED_Mean,AVG_OVER_TOGO,PLAYIDSTR,RUN_PASS,CONCEPT_8,CONCEPT_9,pred_TD,prob_TD_NO,prob_TD_YES,pred_FIRST,prob_FIRST_NO,prob_FIRST_YES
0,0,0,5,0,480,1st,35,6.360000,1.272000,100000020,RUN,2,0,N,0.989181,0.010819,N,0.562406,0.437594
1,0,0,9,-7,1050,1st,45,4.756098,0.528455,100000054,RUN,5,4,N,0.999278,0.000722,Y,0.439296,0.560704
2,0,2,4,7,600,3rd,5,8.164835,2.041209,200000049,PASS,4,9,N,0.929720,0.070280,Y,0.391968,0.608032
3,0,0,11,7,180,1st,45,6.216667,0.565152,200000041,PASS,4,1,N,0.999941,0.000059,N,0.676803,0.323197
4,0,0,1,0,60,1st,45,13.416667,13.416667,200000085,PASS,8,5,N,0.800383,0.199617,N,0.608495,0.391505

In [269]:
pd.set_option('display.max_columns', None)

In [270]:
df.columns

Index(['HALF', 'DOWNNUM', 'YARDSTOGO', 'SCOREDIFF', 'TIMELEFT', 'DOWNNAME',
       'TRUEFIELD', 'YARDSGAINED_Mean', 'AVG_OVER_TOGO', 'PLAYIDSTR',
       'RUN_PASS', 'CONCEPT_8', 'CONCEPT_9', 'pred_TD', 'prob_TD_NO',
       'prob_TD_YES', 'pred_FIRST', 'prob_FIRST_NO', 'prob_FIRST_YES'],
      dtype='object')

In [271]:
## Creating categorical dummies based on a numeric column
## https://www.absentdata.com/pandas/pandas-cut-continuous-to-categorical/

category = pd.cut(df.TIMELEFT,bins=[0,120,300,600,900,1200,2000],labels=['Two-minute','Five-minute','Ten-Minute','Fifteen-Minute','Early','Extra Time'])
df.insert(5,'Time_Segment',category)

In [272]:
pd.set_option('display.max_columns', None)
df_h.isnull

<bound method DataFrame.isnull of    #year facility  accountNumber   FICO  BKRPT  recordCount  defaultCount  \
0   2017      HOF              1  839.0  973.0            1             0
1   2017      HOS              2  683.0  483.0            1             0
2   2017      HOF              3  775.0  837.0            1             0
3   2018      HOF              4    NaN  973.0            1             0
4   2018      HOS              5  695.0  483.0            1             0
5   2018      HOF              6  751.0    NaN            1             0

   defaultDate  defaultBalance  cureDate  origFICO  origBKRPT  \
0          NaN               0       NaN       799          0
1          NaN               0       NaN       825          0
2          NaN               0       NaN       756          0
3          NaN               0       NaN       799          0
4          NaN               0       NaN       825          0
5          NaN               0       NaN       756          0

   faceAmountOfNote  vintage  origLTV  origDTI caFICO_Binned  \
0            250000     2012     21.1     50.1      14. 780+
1             75000     2012     40.0     60.2    09. LE 700
2             95000     2012     12.1     70.3    13. LE 780
3            150000     2013     22.2     50.1   00. MISSING
4             85000     2014     17.9     60.2    09. LE 700
5             95000     2012     12.1     70.3    12. LE 760

   origCollateralValue collateralCode  productCode  ID enteredDate  age  \
0                10000           OO01          595   1    3/1/2000  1.2
1                12000           OO02          595   2    4/1/2012  2.0
2                11000           OO01          595   3    2/1/2010  3.2
3                10000           OO01          595   4    3/1/2000  3.2
4                12000           OO02          595   5    4/1/2012  4.0
5                11000           OO01          595   6    2/1/2010  1.8

   lienPosition  Customer Balance  caLogit_PROD  caLogit_where
0             1             101.1     -8.177144      -8.177144
1             2             201.1     -4.825191      -4.825191
2             1             302.2     -6.886953      -6.886953
3             1              95.1     -4.933467      -4.933467
4             2              75.5     -5.033781      -5.033781
5             1              50.2     -4.933467      -4.933467  >

In [273]:
##Reduce fields
df_rev = pd.DataFrame(df, columns=['HALF', 'DOWN', 'YARDSTOGO', 'SCOREDIFF', 'TIMELEFT', 'DOWN_STRING','RUN_PASS',
       'CONCEPT_8', 'CONCEPT_9','YARDLINE','YARDSGAINED_Mean', 'AVG_OVER_TOGO', 'ISTOUCHDOWN', 'ISFIRSTDOWN'])

In [274]:
## Re-Name columns
df_rev.columns = ['HALF', 'DOWNNUM', 'YARDSTOGO', 'SCOREDIFF', 'TIMELEFT', 'DOWNNAME','RUN_PASS','CONCEPT_8', 'CONCEPT_9',
                   'TRUEFIELD','YARDSGAINED_Mean', 'AVG_OVER_TOGO','ISTOUCHDOWN', 'ISFIRSTDOWN']

##RULE: Target columns must have same length as original

In [275]:
df_early = df[df['Time_Segment'].isin(['Early'])]
df_late = df[~df['Time_Segment'].isin(['Early'])]

In [276]:
df_early.Time_Segment.value_counts()

Early             2633
Extra Time           0
Fifteen-Minute       0
Ten-Minute           0
Five-minute          0
Two-minute           0
Name: Time_Segment, dtype: int64

In [277]:
df_late.Time_Segment.value_counts()

Two-minute        2702
Fifteen-Minute    2008
Five-minute       1342
Ten-Minute        1315
Extra Time           0
Early                0
Name: Time_Segment, dtype: int64

In [278]:
df.TIMELEFT.value_counts()

120     695
1140    687
840     682
480     681
180     674
60      673
30      671
300     668
720     667
90      663
900     659
1050    655
975     654
1200    637
600     634
Name: TIMELEFT, dtype: int64

In [279]:
df.groupby('Time_Segment').TIMELEFT.nunique()

Time_Segment
Two-minute        4
Five-minute       2
Ten-Minute        2
Fifteen-Minute    3
Early             4
Extra Time        0
Name: TIMELEFT, dtype: int64

In [280]:
df.Time_Segment.value_counts()

Two-minute        2702
Early             2633
Fifteen-Minute    2008
Five-minute       1342
Ten-Minute        1315
Extra Time           0
Name: Time_Segment, dtype: int64

In [281]:
df.YARDSTOGO.value_counts()

2     1037
1     1034
3     1025
5     1019
4      989
7      847
9      824
8      821
10     820
11     801
6      783
Name: YARDSTOGO, dtype: int64

FInd overall counts in your data

In [282]:
len(df)

10000

In [283]:
df.shape

(10000, 20)

In [284]:
df.TIMELEFT.shape

(10000,)

In [285]:
df.pred_FIRST.value_counts()

Y    6240
N    3760
Name: pred_FIRST, dtype: int64

In [286]:
import pandas as pd
df_h = pd.read_csv('/project_data/data_asset/Sample Heloc Data Dummy Values.csv')
df_h.head()

,#year,facility,accountNumber,FICO,BKRPT,recordCount,defaultCount,defaultDate,defaultBalance,cureDate,origFICO,origBKRPT,faceAmountOfNote,vintage,origLTV,origDTI,origCollateralValue,collateralCode,productCode,ID,enteredDate,age,lienPosition,Customer Balance
0,2017,HOF,1,839.0,973.0,1,0,NaN,0,NaN,799,0,250000,2012,21.1,50.1,10000,OO01,595,1,3/1/2000,1.2,1,101.1
1,2017,HOS,2,683.0,483.0,1,0,NaN,0,NaN,825,0,75000,2012,40.0,60.2,12000,OO02,595,2,4/1/2012,2.0,2,201.1
2,2017,HOF,3,775.0,837.0,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,11000,OO01,595,3,2/1/2010,3.2,1,302.2
3,2018,HOF,4,NaN,973.0,1,0,NaN,0,NaN,799,0,150000,2013,22.2,50.1,10000,OO01,595,4,3/1/2000,3.2,1,95.1
4,2018,HOS,5,695.0,483.0,1,0,NaN,0,NaN,825,0,85000,2014,17.9,60.2,12000,OO02,595,5,4/1/2012,4.0,2,75.5

In [287]:
df_h.dtypes

#year                    int64
facility                object
accountNumber            int64
FICO                   float64
BKRPT                  float64
recordCount              int64
defaultCount             int64
defaultDate            float64
defaultBalance           int64
cureDate               float64
origFICO                 int64
origBKRPT                int64
faceAmountOfNote         int64
vintage                  int64
origLTV                float64
origDTI                float64
origCollateralValue      int64
collateralCode          object
productCode              int64
ID                       int64
enteredDate             object
age                    float64
lienPosition             int64
Customer Balance       float64
dtype: object

In [288]:
df_h.columns

Index(['#year', 'facility', 'accountNumber', 'FICO', 'BKRPT', 'recordCount',
       'defaultCount', 'defaultDate', 'defaultBalance', 'cureDate', 'origFICO',
       'origBKRPT', 'faceAmountOfNote', 'vintage', 'origLTV', 'origDTI',
       'origCollateralValue', 'collateralCode', 'productCode', 'ID',
       'enteredDate', 'age', 'lienPosition', 'Customer Balance'],
      dtype='object')

In [289]:
#df_h = df_h.drop(['defaultDateMAX'], axis=1)

In [290]:
# df_h_drop = df_h[['#year', 'facility', 'accountNumber', 'FICO', 'BKRPT',
#        'defaultCount', 'defaultDate', 'defaultBalance', 'cureDate', 'origFICO',
#        'origBKRPT', 'faceAmountOfNote', 'vintage', 'origLTV', 'origDTI',
#        'caFICO_Binned', 'origCollateralValue', 'collateralCode', 'productCode',
#        'ID', 'enteredDate', 'age', 'lienPosition', 'Customer Balance']]
# df_h_drop.shape

In [291]:
df_h.isnull().sum(axis = 0)

#year                  0
facility               0
accountNumber          0
FICO                   1
BKRPT                  1
recordCount            0
defaultCount           0
defaultDate            6
defaultBalance         0
cureDate               6
origFICO               0
origBKRPT              0
faceAmountOfNote       0
vintage                0
origLTV                0
origDTI                0
origCollateralValue    0
collateralCode         0
productCode            0
ID                     0
enteredDate            0
age                    0
lienPosition           0
Customer Balance       0
dtype: int64

In [292]:
#df_h.defaultDateMAX.isnull().sum()

Assigning new variables via conditionals and formulas can be done several ways

First we show this by creating an if... else function and calling that function

Example fo a typical if.. else function

    def calc(row):
        if row['two'] > 8:
            return row['one'] * 100
        elif row['two'] < 8:
            return row['one']
        else:
            return row['one']**2

    df['one'] = df.apply(calc, axis=1)

In [293]:
## Calculating via function. This code stores a function called 'calc' but does not apply it to the data.

def calc(x1, x2):
    if pd.isnull(x1)|pd.isnull(x2):
        return np.log(0.00715/(1-0.00715))
    else:
        return (7.6781928 + -0.0173825 * x1) + (-0.0013067 * x2)

In [294]:
## If.. else can also contain many "Elseif" conditions in this manner.

def calc_elif(x1, x2):
    if pd.isnull(x1):
        return np.log(0.00715/(1-0.00715))
    elif pd.isnull(x2):
        return np.log(0.00715/(1-0.00715))
    else:
        return (7.6781928 + -0.0173825 * x1) + (-0.0013067 * x2)

In [295]:
## Example lambda function
a_lambda_function = lambda x: x*2 if x < 3 else x

In [296]:
## The Lambda function is used to apply existing function to each row (axis=1) Can also be done column-wise.  
## This is where you specify field names referenced in function arguements. Example: 
## df_h['caLogit_PROD'] = df_h.apply(lambda x: calc(x1, x2), axis=1)

df_h['caLogit_PROD'] = df_h.apply(lambda x: calc(x['FICO'], x['BKRPT']), axis=1)

In [297]:
## Basic format for Where conditional: np.where(condition, return if TRUE, return if FALSE).
## https://numpy.org/doc/stable/reference/generated/numpy.where.html

# np.where(a < 5, a, 10*a)

In [298]:
## Conversion using where may be simpler in some cases. 

df_h['caLogit_where'] = np.where(pd.isnull(df_h.FICO)|pd.isnull(df_h.BKRPT), np.log(0.00715/(1-0.00715)), ((7.6781928 + -0.0173825 * df_h.FICO) + (-0.0013067 *df_h.BKRPT)))

In [299]:

df_h.head(6)

,#year,facility,accountNumber,FICO,BKRPT,recordCount,defaultCount,defaultDate,defaultBalance,cureDate,origFICO,origBKRPT,faceAmountOfNote,vintage,origLTV,origDTI,origCollateralValue,collateralCode,productCode,ID,enteredDate,age,lienPosition,Customer Balance,caLogit_PROD,caLogit_where
0,2017,HOF,1,839.0,973.0,1,0,NaN,0,NaN,799,0,250000,2012,21.1,50.1,10000,OO01,595,1,3/1/2000,1.2,1,101.1,-8.177144,-8.177144
1,2017,HOS,2,683.0,483.0,1,0,NaN,0,NaN,825,0,75000,2012,40.0,60.2,12000,OO02,595,2,4/1/2012,2.0,2,201.1,-4.825191,-4.825191
2,2017,HOF,3,775.0,837.0,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,11000,OO01,595,3,2/1/2010,3.2,1,302.2,-6.886953,-6.886953
3,2018,HOF,4,NaN,973.0,1,0,NaN,0,NaN,799,0,150000,2013,22.2,50.1,10000,OO01,595,4,3/1/2000,3.2,1,95.1,-4.933467,-4.933467
4,2018,HOS,5,695.0,483.0,1,0,NaN,0,NaN,825,0,85000,2014,17.9,60.2,12000,OO02,595,5,4/1/2012,4.0,2,75.5,-5.033781,-5.033781
5,2018,HOF,6,751.0,NaN,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,11000,OO01,595,6,2/1/2010,1.8,1,50.2,-4.933467,-4.933467

Using the Cut feature to Categorize Numeric Data

In [300]:
category = pd.cut(df_h.FICO,bins=[0,300,500,560, 580, 600, 620, 640, 660, 680, 700, 720, 740, 760, 780, 850,1000],labels=['00. LOW','01. 500-','02. LE 560','03. LE 580','04. LE 600','05. LE 620','06. LE 640','07. LE 660','08. LE 680','09. LE 700','10. LE 720','11. LE 740','12. LE 760','13. LE 780','14. 780+','00. HIGH'])
df_h.insert(16,'caFICO_Binned',category)

In [301]:
df_h['caFICO_Binned'] = df_h['caFICO_Binned'].map(lambda x: '00. MISSING' if pd.isnull(x)  else x)

In [302]:
df_h['caFICO_Binned'] = df_h['caFICO_Binned'].replace(['00. LOW','00. HIGH',],'00. MISSING')

In [303]:
df_h.caFICO_Binned.fillna('00. MISSING', inplace=True)
df_h.head(6)

,#year,facility,accountNumber,FICO,BKRPT,recordCount,defaultCount,defaultDate,defaultBalance,cureDate,origFICO,origBKRPT,faceAmountOfNote,vintage,origLTV,origDTI,caFICO_Binned,origCollateralValue,collateralCode,productCode,ID,enteredDate,age,lienPosition,Customer Balance,caLogit_PROD,caLogit_where
0,2017,HOF,1,839.0,973.0,1,0,NaN,0,NaN,799,0,250000,2012,21.1,50.1,14. 780+,10000,OO01,595,1,3/1/2000,1.2,1,101.1,-8.177144,-8.177144
1,2017,HOS,2,683.0,483.0,1,0,NaN,0,NaN,825,0,75000,2012,40.0,60.2,09. LE 700,12000,OO02,595,2,4/1/2012,2.0,2,201.1,-4.825191,-4.825191
2,2017,HOF,3,775.0,837.0,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,13. LE 780,11000,OO01,595,3,2/1/2010,3.2,1,302.2,-6.886953,-6.886953
3,2018,HOF,4,NaN,973.0,1,0,NaN,0,NaN,799,0,150000,2013,22.2,50.1,00. MISSING,10000,OO01,595,4,3/1/2000,3.2,1,95.1,-4.933467,-4.933467
4,2018,HOS,5,695.0,483.0,1,0,NaN,0,NaN,825,0,85000,2014,17.9,60.2,09. LE 700,12000,OO02,595,5,4/1/2012,4.0,2,75.5,-5.033781,-5.033781
5,2018,HOF,6,751.0,NaN,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,12. LE 760,11000,OO01,595,6,2/1/2010,1.8,1,50.2,-4.933467,-4.933467

In [304]:
df_h.caFICO_Binned.head(6)

0       14. 780+
1     09. LE 700
2     13. LE 780
3    00. MISSING
4     09. LE 700
5     12. LE 760
Name: caFICO_Binned, dtype: category
Categories (15, object): [00. MISSING < 01. 500- < 02. LE 560 < 03. LE 580 ... 11. LE 740 < 12. LE 760 < 13. LE 780 < 14. 780+]

In [305]:
df_h.columns

Index(['#year', 'facility', 'accountNumber', 'FICO', 'BKRPT', 'recordCount',
       'defaultCount', 'defaultDate', 'defaultBalance', 'cureDate', 'origFICO',
       'origBKRPT', 'faceAmountOfNote', 'vintage', 'origLTV', 'origDTI',
       'caFICO_Binned', 'origCollateralValue', 'collateralCode', 'productCode',
       'ID', 'enteredDate', 'age', 'lienPosition', 'Customer Balance',
       'caLogit_PROD', 'caLogit_where'],
      dtype='object')

In [306]:
df_h.caFICO_Binned.value_counts()

09. LE 700     2
14. 780+       1
13. LE 780     1
12. LE 760     1
00. MISSING    1
11. LE 740     0
10. LE 720     0
08. LE 680     0
07. LE 660     0
06. LE 640     0
05. LE 620     0
04. LE 600     0
03. LE 580     0
02. LE 560     0
01. 500-       0
Name: caFICO_Binned, dtype: int64

In [307]:
df_h.shape

(6, 27)

Create Aggregates and Append to Main Dataframe:
    
    Here we create groupby aggregates and append to main df
    The aggregates will be a separate dataframe until merged
    There are many ways to aggregate, covered in the first example
    The second example shows how to aggregate and flatten into a useable dataframe, which is what we need here
    
    examples: 
        https://cmdlinetips.com/2019/10/pandas-groupby-13-functions-to-aggregate/
        https://towardsdatascience.com/meet-the-hardest-functions-of-pandas-part-i-7d1f74597e92

In [308]:
 
default_bal = df_h.groupby(['#year','accountNumber'])['defaultBalance'].max().reset_index()
## Next line renames columns. Can choose any name for new column. We keep the index column names for merging later
default_bal.columns = ['#year','accountNumber', 'defaultBalMAX']
default_bal.head(6)

   #year  accountNumber  defaultBalMAX
0   2017              1              0
1   2017              2              0
2   2017              3              0
3   2018              4              0
4   2018              5              0
5   2018              6              0

In [309]:

default_date = df_h.groupby(['#year','accountNumber'])['defaultDate'].max().reset_index()

## Renaming columns
default_date.columns = ['#year','accountNumber', 'defaultDateMAX']
default_date.head(6)

   #year  accountNumber  defaultDateMAX
0   2017              1             NaN
1   2017              2             NaN
2   2017              3             NaN
3   2018              4             NaN
4   2018              5             NaN
5   2018              6             NaN

Merging New DFs to Main DF

The aggregate DFs can now be merged to the main DF. All columns not listed in the 'Key' will be added

    Example merge code:
        df_c=pd.merge(df_a, df_b, on='Key', how='left')

In [310]:
df_h = pd.merge(df_h, default_date, on=(['#year','accountNumber']) , how='left')

In [311]:
df_h = pd.merge(df_h, default_bal, on=(['#year','accountNumber']) , how='left')

In [312]:
df_h.head(6)

,#year,facility,accountNumber,FICO,BKRPT,recordCount,defaultCount,defaultDate,defaultBalance,cureDate,origFICO,origBKRPT,faceAmountOfNote,vintage,origLTV,origDTI,caFICO_Binned,origCollateralValue,collateralCode,productCode,ID,enteredDate,age,lienPosition,Customer Balance,caLogit_PROD,caLogit_where,defaultDateMAX,defaultBalMAX
0,2017,HOF,1,839.0,973.0,1,0,NaN,0,NaN,799,0,250000,2012,21.1,50.1,14. 780+,10000,OO01,595,1,3/1/2000,1.2,1,101.1,-8.177144,-8.177144,NaN,0
1,2017,HOS,2,683.0,483.0,1,0,NaN,0,NaN,825,0,75000,2012,40.0,60.2,09. LE 700,12000,OO02,595,2,4/1/2012,2.0,2,201.1,-4.825191,-4.825191,NaN,0
2,2017,HOF,3,775.0,837.0,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,13. LE 780,11000,OO01,595,3,2/1/2010,3.2,1,302.2,-6.886953,-6.886953,NaN,0
3,2018,HOF,4,NaN,973.0,1,0,NaN,0,NaN,799,0,150000,2013,22.2,50.1,00. MISSING,10000,OO01,595,4,3/1/2000,3.2,1,95.1,-4.933467,-4.933467,NaN,0
4,2018,HOS,5,695.0,483.0,1,0,NaN,0,NaN,825,0,85000,2014,17.9,60.2,09. LE 700,12000,OO02,595,5,4/1/2012,4.0,2,75.5,-5.033781,-5.033781,NaN,0
5,2018,HOF,6,751.0,NaN,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,12. LE 760,11000,OO01,595,6,2/1/2010,1.8,1,50.2,-4.933467,-4.933467,NaN,0

In [313]:
df_h.shape

(6, 29)

In [314]:
## Example code for dropping single column
#df_h = df_h.drop(['defaultDateMAX'], axis=1)


Create Line Charts for Documentation

If available, sample data scores can be adapted and plotted

In [315]:
# palette = sns.color_palette("mako_r", 9)
# sns.lineplot(
#     data=df, x="YARDSTOGO", y="prob_FIRST_YES",
#     hue="CONCEPT_8", style="RUN_PASS",
#     palette=palette
# )

In [316]:
# palette = sns.color_palette("mako_r", 2)
# sns.lineplot(
#     data=df, x="YARDSTOGO", y="prob_FIRST_YES",
#     hue="RUN_PASS", style="RUN_PASS",
#     palette=palette
# )

In [317]:
# palette = sns.color_palette("mako_r", 2)
# sns.lineplot(
#     data=df, x="TRUEFIELD", y="prob_TD_YES",
#     hue="RUN_PASS", style="RUN_PASS",
#     palette=palette
# )

Create Lag Year

In [318]:
df_h = (df_h.sort_values(by=(['#year','accountNumber']), ascending=True))

In [319]:
df_h['defaultDateLag01Yr'] = df_h.groupby(['#year','accountNumber'])['#year'].shift(1)

In [320]:
df_h.sort_values(by=(['facility','#year']), ascending=True)

,#year,facility,accountNumber,FICO,BKRPT,recordCount,defaultCount,defaultDate,defaultBalance,cureDate,origFICO,origBKRPT,faceAmountOfNote,vintage,origLTV,origDTI,caFICO_Binned,origCollateralValue,collateralCode,productCode,ID,enteredDate,age,lienPosition,Customer Balance,caLogit_PROD,caLogit_where,defaultDateMAX,defaultBalMAX,defaultDateLag01Yr
0,2017,HOF,1,839.0,973.0,1,0,NaN,0,NaN,799,0,250000,2012,21.1,50.1,14. 780+,10000,OO01,595,1,3/1/2000,1.2,1,101.1,-8.177144,-8.177144,NaN,0,NaN
2,2017,HOF,3,775.0,837.0,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,13. LE 780,11000,OO01,595,3,2/1/2010,3.2,1,302.2,-6.886953,-6.886953,NaN,0,NaN
3,2018,HOF,4,NaN,973.0,1,0,NaN,0,NaN,799,0,150000,2013,22.2,50.1,00. MISSING,10000,OO01,595,4,3/1/2000,3.2,1,95.1,-4.933467,-4.933467,NaN,0,NaN
5,2018,HOF,6,751.0,NaN,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,12. LE 760,11000,OO01,595,6,2/1/2010,1.8,1,50.2,-4.933467,-4.933467,NaN,0,NaN
1,2017,HOS,2,683.0,483.0,1,0,NaN,0,NaN,825,0,75000,2012,40.0,60.2,09. LE 700,12000,OO02,595,2,4/1/2012,2.0,2,201.1,-4.825191,-4.825191,NaN,0,NaN
4,2018,HOS,5,695.0,483.0,1,0,NaN,0,NaN,825,0,85000,2014,17.9,60.2,09. LE 700,12000,OO02,595,5,4/1/2012,4.0,2,75.5,-5.033781,-5.033781,NaN,0,NaN

In [321]:
df_h.sort_values(by=(['accountNumber']), ascending=True)

,#year,facility,accountNumber,FICO,BKRPT,recordCount,defaultCount,defaultDate,defaultBalance,cureDate,origFICO,origBKRPT,faceAmountOfNote,vintage,origLTV,origDTI,caFICO_Binned,origCollateralValue,collateralCode,productCode,ID,enteredDate,age,lienPosition,Customer Balance,caLogit_PROD,caLogit_where,defaultDateMAX,defaultBalMAX,defaultDateLag01Yr
0,2017,HOF,1,839.0,973.0,1,0,NaN,0,NaN,799,0,250000,2012,21.1,50.1,14. 780+,10000,OO01,595,1,3/1/2000,1.2,1,101.1,-8.177144,-8.177144,NaN,0,NaN
1,2017,HOS,2,683.0,483.0,1,0,NaN,0,NaN,825,0,75000,2012,40.0,60.2,09. LE 700,12000,OO02,595,2,4/1/2012,2.0,2,201.1,-4.825191,-4.825191,NaN,0,NaN
2,2017,HOF,3,775.0,837.0,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,13. LE 780,11000,OO01,595,3,2/1/2010,3.2,1,302.2,-6.886953,-6.886953,NaN,0,NaN
3,2018,HOF,4,NaN,973.0,1,0,NaN,0,NaN,799,0,150000,2013,22.2,50.1,00. MISSING,10000,OO01,595,4,3/1/2000,3.2,1,95.1,-4.933467,-4.933467,NaN,0,NaN
4,2018,HOS,5,695.0,483.0,1,0,NaN,0,NaN,825,0,85000,2014,17.9,60.2,09. LE 700,12000,OO02,595,5,4/1/2012,4.0,2,75.5,-5.033781,-5.033781,NaN,0,NaN
5,2018,HOF,6,751.0,NaN,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,12. LE 760,11000,OO01,595,6,2/1/2010,1.8,1,50.2,-4.933467,-4.933467,NaN,0,NaN

In [322]:
df_h

,#year,facility,accountNumber,FICO,BKRPT,recordCount,defaultCount,defaultDate,defaultBalance,cureDate,origFICO,origBKRPT,faceAmountOfNote,vintage,origLTV,origDTI,caFICO_Binned,origCollateralValue,collateralCode,productCode,ID,enteredDate,age,lienPosition,Customer Balance,caLogit_PROD,caLogit_where,defaultDateMAX,defaultBalMAX,defaultDateLag01Yr
0,2017,HOF,1,839.0,973.0,1,0,NaN,0,NaN,799,0,250000,2012,21.1,50.1,14. 780+,10000,OO01,595,1,3/1/2000,1.2,1,101.1,-8.177144,-8.177144,NaN,0,NaN
1,2017,HOS,2,683.0,483.0,1,0,NaN,0,NaN,825,0,75000,2012,40.0,60.2,09. LE 700,12000,OO02,595,2,4/1/2012,2.0,2,201.1,-4.825191,-4.825191,NaN,0,NaN
2,2017,HOF,3,775.0,837.0,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,13. LE 780,11000,OO01,595,3,2/1/2010,3.2,1,302.2,-6.886953,-6.886953,NaN,0,NaN
3,2018,HOF,4,NaN,973.0,1,0,NaN,0,NaN,799,0,150000,2013,22.2,50.1,00. MISSING,10000,OO01,595,4,3/1/2000,3.2,1,95.1,-4.933467,-4.933467,NaN,0,NaN
4,2018,HOS,5,695.0,483.0,1,0,NaN,0,NaN,825,0,85000,2014,17.9,60.2,09. LE 700,12000,OO02,595,5,4/1/2012,4.0,2,75.5,-5.033781,-5.033781,NaN,0,NaN
5,2018,HOF,6,751.0,NaN,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,12. LE 760,11000,OO01,595,6,2/1/2010,1.8,1,50.2,-4.933467,-4.933467,NaN,0,NaN

In [323]:
import datetime as dt

In [324]:
df_h['NewDate'] = pd.to_datetime(df_h['enteredDate'])

In [325]:
df_h.enteredDate.value_counts()

4/1/2012    2
3/1/2000    2
2/1/2010    2
Name: enteredDate, dtype: int64

In [326]:
df_h.newEntDT = df_h.NewDate - dt.timedelta(days=-365)

/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  if __name__ == '__main__':

In [327]:
df_h.newEntDT.value_counts()

2011-02-01    2
2013-04-01    2
2001-03-01    2
Name: NewDate, dtype: int64

In [328]:
df_h.NewDate.value_counts()

2010-02-01    2
2012-04-01    2
2000-03-01    2
Name: NewDate, dtype: int64

In [329]:
df_h

,#year,facility,accountNumber,FICO,BKRPT,recordCount,defaultCount,defaultDate,defaultBalance,cureDate,origFICO,origBKRPT,faceAmountOfNote,vintage,origLTV,origDTI,caFICO_Binned,origCollateralValue,collateralCode,productCode,ID,enteredDate,age,lienPosition,Customer Balance,caLogit_PROD,caLogit_where,defaultDateMAX,defaultBalMAX,defaultDateLag01Yr,NewDate
0,2017,HOF,1,839.0,973.0,1,0,NaN,0,NaN,799,0,250000,2012,21.1,50.1,14. 780+,10000,OO01,595,1,3/1/2000,1.2,1,101.1,-8.177144,-8.177144,NaN,0,NaN,2000-03-01
1,2017,HOS,2,683.0,483.0,1,0,NaN,0,NaN,825,0,75000,2012,40.0,60.2,09. LE 700,12000,OO02,595,2,4/1/2012,2.0,2,201.1,-4.825191,-4.825191,NaN,0,NaN,2012-04-01
2,2017,HOF,3,775.0,837.0,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,13. LE 780,11000,OO01,595,3,2/1/2010,3.2,1,302.2,-6.886953,-6.886953,NaN,0,NaN,2010-02-01
3,2018,HOF,4,NaN,973.0,1,0,NaN,0,NaN,799,0,150000,2013,22.2,50.1,00. MISSING,10000,OO01,595,4,3/1/2000,3.2,1,95.1,-4.933467,-4.933467,NaN,0,NaN,2000-03-01
4,2018,HOS,5,695.0,483.0,1,0,NaN,0,NaN,825,0,85000,2014,17.9,60.2,09. LE 700,12000,OO02,595,5,4/1/2012,4.0,2,75.5,-5.033781,-5.033781,NaN,0,NaN,2012-04-01
5,2018,HOF,6,751.0,NaN,1,0,NaN,0,NaN,756,0,95000,2012,12.1,70.3,12. LE 760,11000,OO01,595,6,2/1/2010,1.8,1,50.2,-4.933467,-4.933467,NaN,0,NaN,2010-02-01